<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" type="text/css" href="stylesheets/prettify.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/simple-focus.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Angular-simple-focus by deltreey</title>
  </head>

  <body ng-app="app">
    <div id="container" ng-controller="MainCtrl">
      <div class="inner">

        <header>
          <h1>angular-simple-focus</h1>
          <h2>An attribute to focus an element when it appears and by a value.</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/deltreey/angular-simple-focus/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/deltreey/angular-simple-focus/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/deltreey/angular-simple-focus" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <p>As you can see, an element with the simple-focus attribute gets focus when the page loads, and every time you set the value of the attribute to true.</p>
          <p>When the element gets focus, it then sets the value to false so that other elements can get focus later.</p>
          <h3>$scope.thing: {{ thing === undefined ? 'undefined' : thing }}</h3>
          <button ng-click="thing = true">Focus</button>
          <p>Try it: <input type="text" simple-focus="thing" /></p>

<pre class="prettyprint lang-html" ng-non-bindable>
&lt;button ng-click="thing = true"&gt;Focus&lt;/button&gt;
&lt;input type="text" simple-focus="thing" /&gt;
</pre>
<pre class="prettyprint lang-js">
'use strict';
var app = angular.module('app', [ 'simple-focus' ]);

app.controller('MainCtrl', function () {
  // nothing needed here!
});
</pre>

          <p>The element also gets value when it's created, and as you can see, the attribute value, while it is a property of scope doesn't have to be defined ahead of time.</p>
          <p>Save yourself a lot of hassle by just setting it and forgetting it.</p>
          <h3>$scope.stuff.length: {{ stuff.length }}</h3>
          <button ng-click="stuff.push({})">Add An Input</button>
          <p>Try it: <input ng-repeat="item in stuff" type="text" simple-focus="anyvalue" /></p>

<pre class="prettyprint lang-html" ng-non-bindable>
&lt;button ng-click="stuff.push({})"&gt;Add Another Input&lt;/button&gt;
&lt;input ng-repeat="item in stuff" type="text" simple-focus="anyvalue" /&gt;
</pre>
<pre class="prettyprint lang-js">
'use strict';
var app = angular.module('app', [ 'simple-focus' ]);

app.controller('MainCtrl', function ($scope) {
  $scope.stuff = [];
});
</pre>
          <p>Check out the source for this page for more details.  All we used was this for the main.js file:</p>
        <footer>
          Angular-simple-focus is maintained by <a href="https://github.com/deltreey">deltreey</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>
      </section>
    </div>
  </body>
</html>
